<div class="jumbotron">
    <h1 class="text-center">Budget Destoyer API</h1>
    <p class="lead text-center">API for working with the Budget Destoryer Database</p>
    <img class="center-block" src="~/Images/icon-cut-cost.png" />
</div>
<p><a href="~/Swagger" class="btn btn-primary btn-lg center-block">Learn more &raquo;</a></p>